<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
		<key>Label</key>
		<string>com.bwilczynski.keyremapper</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/bwilczynski/bin/keyremapper</string>
			<string>install</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
</dict>
</plist>