#!/usr/bin/env bash

install() {
  hidutil property --matching '{{ keyremapper_matching_devices }}' --set '{"UserKeyMapping":
    [
{% for key in keyremapper_keymapping %}
      {"HIDKeyboardModifierMappingSrc":{{ key.src }}, "HIDKeyboardModifierMappingDst":{{ key.dst }}},
{% endfor %}
    ]
  }'
}

uninstall() {
  hidutil property --matching '{{ keyremapper_matching_devices }}' --set '{"UserKeyMapping":
    [
{% for key in keyremapper_keymapping %}
      {"HIDKeyboardModifierMappingSrc":{{ key.src }}, "HIDKeyboardModifierMappingDst":{{ key.src }}},
{% endfor %}
    ]
  }'
}

subcommand=$1

case "$subcommand" in
  install) install;;
  uninstall) uninstall;;
  *)
    echo "Usage:"
    echo "    keymapper install"
    echo "    keymapper uninstall"
    exit 0
    ;;
esac
